<a href="https://colab.research.google.com/github/Ucchwas/Compare-two-Dataset/blob/main/Compare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import numpy as np
import pandas as pd

In [49]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [50]:
mitbih_df=pd.read_csv('/content/drive/MyDrive/Datasets/mitbih_test_updated.csv',header=None)
label_df=pd.read_csv('/content/drive/MyDrive/Datasets/Label.csv',header=None)

In [51]:
mitbih_df

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,1.000,0.758,0.112,0.000,0.0806,0.07850,0.0661,0.04960,0.0475,0.0351,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.908,0.784,0.531,0.363,0.3660,0.34400,0.3330,0.30800,0.2970,0.3000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.730,0.212,0.000,0.119,0.1020,0.10200,0.1110,0.12400,0.1150,0.1330,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000,0.910,0.681,0.473,0.2290,0.06880,0.0000,0.00417,0.0146,0.0542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.570,0.399,0.238,0.148,0.0000,0.00336,0.0403,0.08050,0.0705,0.0906,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21395,1.000,0.508,0.571,0.575,0.5680,0.54100,0.5000,0.38700,0.2480,0.0714,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
21396,0.924,0.862,0.796,0.713,0.6150,0.48500,0.3910,0.29700,0.2610,0.1890,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
21397,1.000,0.502,0.549,0.589,0.6090,0.58100,0.5810,0.56100,0.4740,0.3280,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
21398,0.830,0.741,0.688,0.679,0.6120,0.58500,0.5180,0.46900,0.3930,0.2810,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
21399,1.000,0.983,0.638,0.355,0.1020,0.07440,0.0769,0.08680,0.0893,0.0943,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [52]:
col1 = mitbih_df[159]
col1

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
21395    0.0
21396    0.0
21397    0.0
21398    0.0
21399    0.0
Name: 159, Length: 21400, dtype: float64

In [53]:
col2 = label_df[1]
col2

0        0
1        0
2        0
3        0
4        0
        ..
21395    0
21396    0
21397    0
21398    0
21399    0
Name: 1, Length: 21400, dtype: int64

In [54]:
num_matches = sum (col1 == col2)
accuracy = num_matches / len(mitbih_df) * 100
print(f"Accuracy: {accuracy:.2f}%")

Accuracy: 77.21%